@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto Condensed', sans-serif;
   background-color: #131313;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
#clock {
   color: lime;
   font-weight: 900;
   text-shadow: 5px 5px 50px currentColor;
   font-size: 60px;
}
